[submodule "src/rag-module"]
	path = src/rag-module
	url = git@github.com:denysk19/rag-workflow.git
[submodule "src/ingestion"]
	path = src/ingestion
	url = git@github.com:denysk19/data-ingestion.git
[submodule "src/llm-service-evaluation"]
	path = src/llm-service-evaluation
	url = git@github.com:denysk19/llm-service-evaluation.git
